src/main/mule/diy_1-1_customer-service-accounts.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<flow name="Get-Accounts-by-Name" doc:id="33cdbb00-053b-4b9d-ac2b-d89f7282d2c5" >
		<http:listener doc:name="GET /accounts-by-name" doc:id="880cd4da-eb19-4f3e-9677-f04aa61c4238" config-ref="HTTP_Listener_config" path="/accounts-by-name" allowedMethods="GET"/>
		<set-variable value="#[attributes.queryParams.user_id]" doc:name="user_id" doc:id="0dfb7797-623e-4b19-aeaf-f9a96d780f1e" variableName="user_id"/>
		<set-variable value="#[attributes.queryParams.account_name]" doc:name="account_name" doc:id="2f2dd67b-af06-472f-8cb9-c42d18b12ccc" variableName="account_name"/>
		<http:request method="GET" doc:name="Get accounts by name" doc:id="9fcdc7f9-00f3-4346-8d0a-8f62108f7321" responseTimeout="30000" config-ref="HTTP_Request_configuration" path="/accounts">
			<http:headers ><![CDATA[#[{
	"user_id": vars.user_id,
	"client_id" : p("oauth2_credentials.client_id"),
	"client_secret" : p("oauth2_credentials.client_secret")
}]]]></http:headers>
			<http:query-params ><![CDATA[#[{
	"account_name": vars.account_name
}]]]></http:query-params>
		</http:request>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="d89e2cce-594e-4d26-93b4-ff2ef8cd063e" />
		<logger level="INFO" doc:name="Logger" doc:id="dafbfd92-920d-4584-ac46-c2fa1f21ce16" message="#[attributes..queryParams]" />
	</flow>
	<flow name="Get-Accounts-by-Type" doc:id="02e240be-8f54-40e7-b083-5191de273417" >
		<http:listener doc:name="GET /accounts-by-type" doc:id="0029cd2b-9ff4-44a3-bae5-d43ff3f74cd8" config-ref="HTTP_Listener_config" path="/accounts-by-type" allowedMethods="GET" />
		<set-variable value="#[attributes.queryParams.user_id]" doc:name="user_id" doc:id="9fb79b9a-f0b5-452f-a40e-e358c911e8b6" variableName="user_id" />
		<set-variable value="#[attributes.queryParams.account_type default 'business']" doc:name="account_type" doc:id="db742c44-4e11-477c-8b85-bad1d6524c0c" variableName="account_type" />
		<http:request method="GET" doc:name="Get accounts by type" doc:id="61205260-353c-4ee6-9bb3-16971dcf10e8" config-ref="HTTP_Request_configuration" path="/accounts" responseTimeout="30000" >
			<http:headers ><![CDATA[#[{
	"user_id": vars.user_id,
	"client_id" : p("oauth2_credentials.client_id"),
	"client_secret" : p("oauth2_credentials.client_secret")
}]]]></http:headers>
			<http:query-params ><![CDATA[#[{
	"account_type": vars.account_type
}]]]></http:query-params>
		</http:request>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="2fd8eeca-f1b0-4853-b4f2-5aff49c89ae6" />
		<logger level="INFO" doc:name="Logger" doc:id="f01b1512-bb1f-48ad-ba73-359fd0e3bb1e" message="#[attributes..queryParams]" />
	</flow>
	<flow doc:id="1a6d3565-cd95-49a2-8d94-71e5e9158f9f" name="POST-create-account">
		<http:listener doc:name="Listener" doc:id="47d8dadc-f0cd-4674-8c87-9db5b47e445d" config-ref="HTTP_Listener_config" path="/create_account" allowedMethods="POST"/>
		<logger level="INFO" doc:name="First Logger" doc:id="9fdc3fdf-1f47-437d-8b55-f949b729c8e0" />
		<set-variable value="#[attributes.queryParams.user_id]" doc:name="userId" doc:id="ef1291dc-f2b6-414d-85f8-0003295af015" variableName="userId"/>
		<set-variable value='#[payload]' doc:name="account_info" doc:id="8c03e4c6-3b3d-4f2b-8a29-b9ec540540bd" variableName="account_info"/>
		<vm:publish doc:name="create_account_queue" doc:id="e012abcb-0172-4cc9-9b5b-8ac27877560b" queueName="create_account_queue" config-ref="VM_Config">
			<vm:content ><![CDATA[#[output application/json
---
{
	user_id: vars.userId,
	accounts: vars.account_info
}]]]></vm:content>
		</vm:publish>
		<ee:transform doc:name="Transform Message" doc:id="ea3561fb-333e-47ff-8ae6-71121bd5fc1a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Accounts submitted"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Last Logger" doc:id="03dde272-d822-47d7-b77c-d9b9dc5ecd51"/>
	</flow>
	<flow name="read_create_account_queue" doc:id="7942e0bb-f217-40f7-bdfd-525e1d640136" >
		<vm:listener doc:name="Listener" doc:id="8bcf206f-dd47-4a96-bdf5-1f6724c2e920" queueName="create_account_queue" config-ref="VM_Config"/>
		<logger level="INFO" doc:name="First Queue Logger" doc:id="5655d426-754a-4d97-b968-2e38adefb592" />
		<http:request method="POST" doc:name="POST account info" doc:id="03137a32-cc78-44ee-92a7-6172e0c1826d" config-ref="HTTP_Request_configuration" path="/accounts">
			<http:body><![CDATA[#[payload.accounts]]]></http:body>
			<http:headers><![CDATA[#[output application/json
---
{
	"user_id": payload.user_id,
	"client_id" : p("oauth2_credentials.client_id"),
	"client_secret" : p("oauth2_credentials.client_secret")
}]]]></http:headers>
		</http:request>
		<logger level="INFO" doc:name="Last Queue Logger" doc:id="3261e47e-dc52-4fc6-a94d-339c78fa2af8" />
	</flow>
</mule>
